
body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  color: #333;
  margin: 0;
}

header {
  background-color: #2E8B57;
  color: white;
  padding: 5px 10px;
}
header2 {
  background-color: #F54927;
  color: white;
  padding: 10px 20px;
}

nav {
  margin-top: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  font-weight: bold;
}

nav a:hover {
  color: #ffd700; /* gullfarget hover */
  text-decoration: underline;
}

main {
  padding: 20px;
}


img {
  display: block;
  margin-top: 10px;
  border-radius: 8px;
}

footer {
  background-color: #003060;
  color: white;
  text-align: center;
  padding: 10px;
}
